<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="container">
        <h1>Sign Up</h1>
        <div class="row">
          <form class="signup-form col s12" action="/" method="POST">
          
          <div class="row">
            <div class="input-field col s12 m6 hoverable">
              <i class="material-icons prefix">person</i>
              <input
                id="first_name"
                type="text"
                name="first_name"
                class="validate"
                autocomplete="given-name"
              />
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m6 hoverable">
              <i class="material-icons prefix">people</i>
              <input
                id="last_name"
                type="text"
                name="last_name"
                class="validate"
                autocomplete="family-name"
              />
              <label for="last_name">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 hoverable">
              <i class="material-icons prefix">email</i>
              <input
                id="email"
                type="email"
                name="email"
                class="validate"
                autocomplete="email"
              />
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6 hoverable">
              <i class="material-icons prefix">security</i>
              <input
                id="password"
                type="password"
                name="password"
                class="validate"
                autocomplete="new-password"
              />
              <label for="password">Password</label>
            </div>
          
            <div class="input-field col s12 m6 hoverable">
              <i class="material-icons prefix">security</i>
              <input
                id="confirm-password"
                type="password"
                name="confirm-password"
                class="validate"
                autocomplete="new-password"
              />
              <label for="confirm-password">Confirm Password</label>
            </div>

          </div>
          
          <div class="row">
            <div class="col s12">
              <div class="row">
          
                <div class="col s12 m6">
                  <label>Account type</label>
                  <select class="browser-default">
                    <option value="" disabled selected>Choose account type</option>
                    <option value="1">Guest</option>
                    <option value="2">Host</option>
                  </select>
                </div>
          
                <!-- <div class="col m3 l5"></div> -->
          
                <div class="col s12 m6">
                  <button
                    id="signup-btn"
                    class="btn btn-large waves-effect waves-light green hoverable right"
                    type="submit"
                    value="accept"
                  >
                    Sign Up<i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <p class="center-align">
              Already a member? <a href="/">Login</a>
            </p>
          </div>
          </form>
        </div>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="./js/signup.js"></script>
  </body>
</html>
